<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container__articles">
<div class="articles__main">
  <app-big-card photoCover="https://static.portugues.com.br/2020/12/textos.jpg"
  cardTitle="BLOG NOVO"
  cardDescription="Blog feito em angular"
  ></app-big-card>
</div>
<div class="articles__others">
 <app-small-card cardTitle="burra aqui"
 photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuyDLPiwKZOmX_hcq3lmTBR0EDFIqrbIV3B5Ugo5J2YH-RpjqnbwfaQ3cruGVgLeIGvBI&usqp=CAU"
 >

 </app-small-card>
 <app-small-card cardTitle="burra aqui"
 photoCover="https://images.educamaisbrasil.com.br/content/banco_de_imagens/guia-de-estudo/D/tipos-de-textos-lingua-portuguesa.jpg"
 >

 </app-small-card>
 <app-small-card cardTitle="burra aqui"
 photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjnIKAWPsY3Hx7PR3n9kkdk1JtC-fVpGZnkQ&usqp=CAU"
 >

 </app-small-card>
</div>
</div>
